HEAD
* text=auto
*.css linguist-vendored
*.scss linguist-vendored
*.js linguist-vendored
CHANGELOG.md export-ignore

# Auto detect text files and perform LF normalization
* text=auto
adc91f2e28d71989b974c402bde4457a96999c99
